.prefix {
  left: 1rem;
}

*[dir="rtl"] .prefix {
  right: 1rem;
}

.input-prefixed {
  padding-left: 3rem;
}

*[dir="rtl"] .input-prefixed {
  padding-right: 3rem;
}

.input-postfixed {
  padding-right: 3rem;
}

*[dir="rtl"] .input-postfixed {
  padding-left: 3rem;
}
