$primary-color: #0092fc;
$secondary-color: #f6bd60;
$border-color: rgb(229, 231, 235);

.react-datepicker__month-container {
  border: none;
}

.react-datepicker {
  border: none !important;

  .react-datepicker__header {
    background: none;
    border-bottom-color: $border-color;
  }

  .react-datepicker__current-month {
    font-size: 0.85rem;
    font-weight: normal;
    text-align: start;
    padding: 0 1rem 1rem 1rem;
  }

  .react-datepicker__navigation {
    top: 6px;
    .react-datepicker__navigation-icon {
      &::before {
        border-color: $primary-color;
        border-width: 1px 1px 0 0;
      }
    }

    &.react-datepicker__navigation--previous {
      left: 12rem;
    }
  }

  .react-datepicker__day {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;

    &.react-datepicker__day--keyboard-selected {
      background-color: $primary-color;
      color: white;
    }
  }

  .react-datepicker__day-names {
    .react-datepicker__day-name {
      width: 2rem;
      height: 2rem;
    }
  }

  .react-datepicker__day--outside-month {
    visibility: hidden;
  }

  .react-datepicker__triangle {
    &::after,
    &::before {
      border-bottom-color: $secondary-color !important;
      display: none;
    }
  }

  .react-datepicker__time-container {
    box-shadow: 0 0 9px -1px #fafafa;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
  }
}

.has-shadow {
  .react-datepicker__month-container {
    box-shadow: -1px 1px 8px 0 #efefef;
  }

  .react-datepicker__time-container {
    box-shadow: -1px 1px 8px 0 #efefef;
    border: none;
  }
}

html[dir="rtl"] {
  .react-datepicker__navigation {
    &.react-datepicker__navigation--previous {
      right: 18rem !important;
      transform: rotateY(180deg);
    }

    &.react-datepicker__navigation--next {
      left: 0 !important;
      right: auto !important;
      transform: rotateY(180deg);
    }
  }
}
