.toggle-input {
  div {
    &::after {
      left: 2px;
    }
  }

  input:checked + div::after {
    transform: translateX(100%);
  }
}

[dir="rtl"] .toggle-input {
  div {
    &::after {
      right: 2px;
      left: 0;
    }
  }

  input:checked + div::after {
    transform: translateX(-100%);
  }
}
